
.tabla-acta {
  display: grid;
  grid-template-columns: 3fr 1fr 0.6fr 0.6fr; /* Ajusta el tamaño de cada columna */
  gap: 5px;;
}

.celda-acta {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  font-size: 14px;
}

.encabezado {
  font-weight: bold;
  padding: 10px;
  background-color: #f5f5f5;
  font-size: 14px;
}

/* Configuración del contenedor principal */
.container {
  display: flex;
  width: 100%;
}

/* Configuración de cada columna */
.left-column, .right-column {
  padding: 20px; /* Opcional, agrega algo de espacio interno */
  
}

/* Estilo para el cuerpo */
.body {
    background-color: #e9f8ff;
    color: #010d22;
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* División principal */
  .divisionPrincipal {
    margin: 16px;
    box-sizing: border-box;
    padding: 16px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Botones */
  .cmb-btn {
    background-color: #4CAF50;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .cmb-btn:hover {
    background-color: #45a049;
  }
  
  /* Estilo para los inputs y selects */
  .text-boxpand{
    min-width: 210px;
    max-width: 100%;
}

    .input_profesional{
        width: 90px;
    }

    .lists{
        width: 150px;
    }
  .text-boxpand, .text-box, .list_profesional, .input_profesional, .lists {
    background-color: #ffffff;
    color: #010d22;
    padding: 8px;
    border: 1px solid #d1e9ff;
    border-radius: 6px;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.05);
    margin-bottom: 10px;
    transition: all 0.3s ease;
  }
  .text-boxpand:focus, .text-box:focus, .list_profesional:focus, .input_profesional:focus, .lists:focus {
    border-color: #76a9ff;
    box-shadow: 0 0 5px rgba(118, 169, 255, 0.8);
    outline: none;
  }
  
  /* Espaciado */
  .spaced, .padded {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  
  /* Estilo para las secciones */
  .separaciones {
    background-color: #bbcef8;
    padding: 16px;
    border-radius: 10px;
    margin: 16px 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Previsualización del acta */
  .preview.acta {
    border-radius: 10px;
    background-color: #f5faff;
    padding: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Centrando elementos */
  .center {
    text-align: center;
  }
  
  /* Estilos para el cartel de feedback (flash message) */
  .flash-visible{
    background-color: #4c98af; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 15px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    transition: opacity 0.5s ease-in-out; /* Para el efecto de desvanecimiento */
}  
  /* Versión de error del flash message */
  .flash-error {
    background-color: #f44336;
  }
  
  .flash-hidden {
    display: none; /* Oculta el mensaje */
}
